.box {
    background-image: url(adv9.jpg);
    background-size: cover;
    display: grid;
    flex-direction: row;
    border: solid black;
    width: 900px;
    margin-left: 200px;

 }
 body {
    background-image: url(images/adv9.jpg);
    background-size: cover;
    margin-top: 10px;
    justify-content: center;}
.head {
    display: flex;
    flex-direction: row;
    background-image: url(images/adv9.jpg);
    background-size: cover;
}
.logo {
    width: 70px;
    height: 70px;
    object-fit:cover;
    border-radius: 35px;}

.name {font-weight: bolder;
        font-size: medium;
        font-size: 20px;
        color: black;
        line-height: 20px;}

.instruction { color: rgb(0, 0, 0);
               font-weight: bold;
               font-size:large;
               line-height: 30px;
               margin-top: 30px;
}
.body {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.heading {
    color: rgb(0, 0, 0);
    margin-left: 50px;
}
button {
    width: 120px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 300px;
}
button:hover {
    width: 115px;
    background-color: rgb(34, 34, 34);
}
input {
    font-weight: bold;
    width: 200px;
}

.description {
    font-weight: bold;
     margin-left: 20px;
    margin-right: 50px;}

    .icon { width: 40px;
        border-radius: 20px;}

.icon:hover {width: 39px;
        background-color: rgb(255, 37, 37);}
        

.wallet {
        display: flex;
        flex-direction: row;      
    }